
  {% extends 'layout.html' %}
  {% block header %}
  <h2 id="semh">Semester 1</h2>
  <div class="subjects">
    <div class="subject">
      <h2>Introduction to ‘C’ Programming</h2>
      <div>Unit 1: Basic Concepts of Programming <a href="https://www.tutorialspoint.com/computer_programming/computer_programming_basics.htm#" target="_blank">view notes</a></div>
      <div>Unit 2: Branching and Looping <a href="https://www.tutorialspoint.com/ansi_c/c_control_statements.htm#:~:text=Branching%20is%20deciding%20what%20actions,to%20take%20a%20certain%20action." target="_blank">view notes</a> </div>
      <div>Unit 3: Arrays and Functions <a href="https://www.geeksforgeeks.org/c-arrays/" target="_blank">view notes</a></div>
      <div>Unit 4: Pointers, Structures, and Unions <a href="https://www.tutorialspoint.com/explain-the-pointers-to-unions-in-c-language" target="_blank">view notes</a> </div>
      <div>Unit 5: Debugging and File Handling <a href="https://en.wikipedia.org/wiki/Debugging" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>Computer System Architecture</h2>
      <div>Unit 1: Introduction <a href="https://www.tutorialspoint.com/Computer-System-Architecture#:~:text=A%20computer%20system%20is%20basically,Logic%20Unit%2C%20Control%20Unit%20etc." target="_blank">view notes</a> </div>
      <div>Unit 2: Data Representation and Basic Computer Arithmetic <a href="https://www.javatpoint.com/data-representation-in-computer-organization" target="_blank">view notes</a></div>
      <div>Unit 3: Basic Computer Organization and Design <a href="https://www.geeksforgeeks.org/computer-organization-and-architecture-tutorials/" target="_blank">view notes</a></div>
      <div>Unit 4: Central Processing Unit <a href="https://en.wikipedia.org/wiki/Central_processing_unit" target="_blank">view notes</a></div>
      <div>Unit 5: Memory and I/O Organization <a href="https://www.geeksforgeeks.org/memory-mapped-i-o-and-isolated-i-o/" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>Mathematical Foundation of Computer Science</h2>
      <div>Unit 1: Algebra of Matrices <a href="https://www.vedantu.com/maths/algebra-of-matrices" target="_blank">view notes</a></div>
      <div>Unit 2: Introduction to Differential Calculus <a href="https://en.wikipedia.org/wiki/Differential_calculus" target="_blank">view notes</a></div>
      <div>Unit 3: Successive and Partial Differentiations <a href="https://en.wikipedia.org/wiki/Partial_derivative" target="_blank">view notes</a></div>
      <div>Unit 4: Differential Calculus for curvatures <a href="https://en.wikipedia.org/wiki/Differentiable_curve" target="_blank">view notes</a></div>
      <div>Unit 5: Coordinate Geometry <a href="https://www.geeksforgeeks.org/coordinate-geometry/" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>Communication Skills</h2>
      <div>Unit 1: Grammar, Dictionary, and Thesaurus <a href="https://www.thesaurus.com/e/grammar-articles/" target="_blank">view notes</a> </div>
      <div>Unit 2: Language, Phonetics, and Writing <a href="https://en.wikipedia.org/wiki/Phonetics" target="_blank">view notes</a></div>
      <div>Unit 3: Effectiveness and Efficiency in Communication <a href="https://www.coursera.org/articles/communication-effectiveness" target="_blank">view notes</a></div>
      <div>Unit 4: Presentation Skills <a href="https://www.coursera.org/articles/presentation-skills" target="_blank">view notes</a> </div>
      <div>Unit 5: Drafting the Documents <a href="https://en.wikipedia.org/wiki/Draft_document" target="_blank">view notes</a> </div>
    </div>
    <div class="subject">
      <h2>Media and Information Literacy Communication</h2>
      <div>Unit 1: Media Education and Literacy <a href="https://en.wikipedia.org/wiki/Media_literacy" target="_blank">view notes</a> </div>
      <div>Unit 2: Information Literacy <a href="https://en.wikipedia.org/wiki/Information_literacy" target="_blank">view notes</a> </div>
      <div>Unit 3: Leveraging the Power of computer_programming_basics <a href="https://ieeexplore.ieee.org/abstract/document/8748538" target="_blank">view notes</a> </div>
      <div>Unit 4: Digital Media Content <a href="https://en.wikipedia.org/wiki/Digital_content" target="_blank">view notes</a> </div>
      <div>Unit 5: Digital Divides <a href="https://en.wikipedia.org/wiki/Digital_divide" target="_blank">view notes</a> </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>
