
  {% extends 'layout.html' %}
  {% block header %}
  <h2 id="semh">Semester 2</h2>
  <div class="subjects">
    <div class="subject">
      <h2>Introduction to Data Structures</h2>
      <div>Unit 1: Data Representation <a href="https://www.tutorialspoint.com/computer_concepts/computer_concepts_representation_data_information.htm" target="_blank">view notes</a></div>
      <div>Unit 2: Arrays, Structures, and Lists <a href="https://www.tutorialspoint.com/data_structures_algorithms/array_data_structure.htm" target="_blank">view notes</a> </div>
      <div>Unit 3: Stack and its operations <a href="https://www.geeksforgeeks.org/introduction-to-stack-data-structure-and-algorithm-tutorials/" target="_blank">view notes</a></div>
      <div>Unit 4: Queues <a href="https://www.geeksforgeeks.org/queue-data-structure/" target="_blank">view notes</a></div>
      <div>Unit 5: Tree, Graph, Searching and Sorting <a href="https://www.geeksforgeeks.org/tree-sort/" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>Data communication and Computer Networks Basics</h2>
      <div>Unit 1: Introduction to Computer Networks <a href="https://www.geeksforgeeks.org/what-is-computer-networking/" target="_blank">view notes</a> </div>
      <div>Unit 2: Introduction to Data Communication <a href="https://www.geeksforgeeks.org/data-communication-definition-components-types-channels/" target="_blank">view notes</a> </div>
      <div>Unit 3: Arrays and Functions <a href="https://www.geeksforgeeks.org/how-arrays-are-passed-to-functions-in-cc/" target="_blank">view notes</a>  </div>
      <div>Unit 4: Data Link Layer and Multiple Access Protocols  <a href="https://www.javatpoint.com/multiple-access-protocols" target="_blank">view notes</a> </div>
      <div>Unit 5: Transport and Application Layer Functions and Protocols  <a href="https://www.geeksforgeeks.org/transport-layer-responsibilities/" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>Fundamental Concepts of Operating Systems</h2>
      <div>Unit 1: Introduction to Operating Systems <a href="https://www.geeksforgeeks.org/introduction-of-operating-system-set-1/" target="_blank">view notes</a></div>
      <div>Unit 2: Process Management <a href="https://www.geeksforgeeks.org/introduction-of-process-management/" target="_blank">view notes</a> </div>
      <div>Unit 3: Deadlocks and Synchronization <a href="https://www.geeksforgeeks.org/introduction-of-deadlock-in-operating-system/" target="_blank">view notes</a> </div>
      <div>Unit 4: Memory Management <a href="https://www.geeksforgeeks.org/memory-management-in-operating-system/" target="_blank">view notes</a> </div>
      <div>Unit 5: Storage Management <a href="https://www.geeksforgeeks.org/storage-management/" target="_blank">view notes</a> </div>
    </div>
    <div class="subject">
      <h2>Elementary Physics</h2>
      <div>Unit 1: Mechanics <a href="https://en.wikipedia.org/wiki/Mechanic" target="_blank">view notes</a> </div>
      <div>Unit 2: Electromagnetism <a href="https://en.wikipedia.org/wiki/Electromagnetism" target="_blank">view notes</a> </div>
      <div>Unit 3: LASER <a href="https://en.wikipedia.org/wiki/Laser" target="_blank">view notes</a> </div>
      <div>Unit 4: Fiber Optics <a href="https://en.wikipedia.org/wiki/Optical_fiber" target="_blank">view notes</a></div>
      <div>Unit 5: Elementary Ideas of Semiconductors <a href="https://en.wikipedia.org/wiki/Semiconductor_device" target="_blank">view notes</a> </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>
