{% extends 'layout.html' %}
{% block header %}
<h2 id="semh">Semester 4</h2>
<div class="subjects">
  <div class="subject">
    <h2> Fundamentals of Probability and Statistics</h2>
    <div>Unit 1: Overview of Probability <a href="https://en.wikipedia.org/wiki/Probability#Mathematical_treatment" target="_blank">view notes</a></div>
    <div>Unit 2: Probability Distribution <a href="https://en.wikipedia.org/wiki/Probability_distribution" target="_blank">view notes</a></div>
    <div>Unit 3: Measures of Central Tendency <a href="https://www.geeksforgeeks.org/measures-of-central-tendency/" target="_blank">view notes</a></div>
    <div>Unit 4: Measures of Variation <a href="https://www.w3schools.com/statistics/statistics_variation.php" target="_blank">view notes</a></div>
    <div>Unit 5: Correlation and Regression Analysis <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC374386/#:~:text=The%20most%20commonly%20used%20techniques,the%20form%20of%20an%20equation." target="_blank">view notes</a></div>
  </div>
  <div class="subject">
    <h2>Introduction to Artificial Intelligence</h2>
    <div>Unit 1: Overview of Artificial Intelligence <a href="https://www.tutorialspoint.com/artificial_intelligence/artificial_intelligence_overview.htm" target="_blank">view notes</a></div>
    <div>Unit 2: Problem Solving <a href="https://www.geeksforgeeks.org/problem-solving-in-artificial-intelligence/" target="_blank">view notes</a></div>
    <div>Unit 3: Game Playing and Knowledge <a href="https://www.geeksforgeeks.org/game-playing-in-artificial-intelligence/" target="_blank">view notes</a></div>
    <div>Unit 4: Knowledge Representation and Reasoning <a href="https://www.javatpoint.com/knowledge-representation-in-ai" target="_blank">view notes</a></div>
    <div>Unit 5: Learning <a href="https://www.tutorialspoint.com/machine_learning_with_python/machine_learning_with_python_types_of_learning.htm" target="_blank">view notes</a></div>
  </div>
  <div class="subject">
    <h2>SEE411 (INTERNET AND WEB TECHNOLOGY)</h2>
    <div>Unit 1: Introduction to Internet and WWW <a href="https://www.tutorialspoint.com/computer_concepts/computer_concepts_introduction_to_internet_www_web_browsers.htm" target="_blank">view notes</a></div>
    <div>Unit 2: Internet Applications <a href="https://www.educba.com/what-is-internet-application/" target="_blank">view notes</a></div>
    <div>Unit 3: Formatting Web Pages <a href="https://docs.oracle.com/cd/E11035_01/workshop102/webapplications/workshopJSP/tasks/conFormattingYourWebPages.html" target="_blank">view notes</a></div>
    <div>Unit 4: JavaScript <a href="https://www.w3schools.com/js/" target="_blank">view notes</a></div>
    <div>Unit 5: E-Commerce and Emerging Trends <a href="https://www.bigcommerce.com/articles/ecommerce/ecommerce-trends/" target="_blank">view notes</a> </div>
  </div>
  <div class="subject">
    <h2>OE413 (CYBER CRIMES & CYBER LAWS)</h2>
    <div>Unit 1: Introduction to IT laws & Cyber Crimes <a href="https://www.geeksforgeeks.org/cyber-laws-in-india/" target="_blank">view notes</a></div>
    <div>Unit 2: E-Mail Investigation <a href="https://www.cyberlawconsulting.com/email-invest.php#:~:text=An%20email%20investigation%20is%20precisely,and%20where%20that%20person%20is." target="_blank">view notes</a></div>
    <div>Unit 3: Introduction to Cyber Crime Investigation <a href="https://digitpol.com/cybercrime-investigation/" target="_blank">view notes</a></div>
    <div>Unit 4: Intellectual Property, Legal System of Information Technology <a href="https://www.upcounsel.com/intellectual-property-in-information-technology" target="_blank">view notes</a></div>
    <div>Unit 5: International Perspective of Cyber Law <a href="https://www.legalserviceindia.com/legal/article-8855-understanding-cyber-law-international-perspective-comparative-study-india-and-usa.html" target="_blank">view notes</a></div>
  </div>
</div>
{% endblock %}
</body>
</html>
