
  {% extends 'layout.html' %}
  {% block header %}
  <h2 id="semh">Semester 5</h2>
  <div class="subjects">
    <div class="subject">
      <h2>Fundamentals of Software Engineering</h2>
      <div>Unit 1: Software and Software Engineering <a href="https://www.geeksforgeeks.org/software-engineering-introduction-to-software-engineering/" target="_blank">view notes</a></div>
      <div>Unit 2: Software Requirement Analysis <a href="https://www.javatpoint.com/software-engineering-requirement-analysis" target="_blank">view notes</a></div>
      <div>Unit 3: Software Development Management <a href="https://www.smartsheet.com/content/software-project-management" target="_blank">view notes</a></div>
      <div>Unit 4: Design Engineering <a href="https://en.wikipedia.org/wiki/Design_engineer" target="_blank">view notes</a></div>
      <div>Unit 5: Software Testing Strategies & Tactics <a href="https://www.geeksforgeeks.org/software-testing-strategies/" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>PE523 (Introduction to Data Science and Big data)</h2>
      <div>Unit 1: Understanding Big Data <a href="https://www.redhat.com/en/topics/big-data" target="_blank">view notes</a></div>
      <div>Unit 2: NoSQL Data Management <a href="https://www.javatpoint.com/nosql-databases" target="_blank">view notes</a></div>
      <div>Unit 3: Basics Of Hadoop <a href="https://www.tutorialspoint.com/hadoop/index.htm#:~:text=Hadoop%20is%20an%20open%2Dsource,offering%20local%20computation%20and%20storage." target="_blank">view notes</a></div>
      <div>Unit 4: Map Reduce Applications <a href="https://k21academy.com/big-data-engineer/introduction-to-mapreduce-applications-of-mapreduce-working/" target="_blank">view notes</a></div>
      <div>Unit 5: Hadoop Related Tools <a href="https://www.geeksforgeeks.org/top-10-hadoop-analytics-tools-for-big-data/" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>SEE521 (Introduction to Java Programming)</h2>
      <div>Unit 1: Introduction to Java <a href="https://www.w3schools.com/java/java_intro.asp" target="_blank">view notes</a></div>
      <div>Unit 2: Arrays, Strings and I/O <a href="https://www.geeksforgeeks.org/string-arrays-in-java/" target="_blank">view notes</a></div>
      <div>Unit 3: Object-Oriented Programming Overview <a href="https://www.javatpoint.com/what-is-object-oriented-programming" target="_blank">view notes</a></div>
      <div>Unit 4: Exception Handling, Threading, Networking and Database Connectivity <a href="https://blog.sentry.io/exception-handling-in-java-with-real-examples/" target="_blank">view notes</a></div>
      <div>Unit 5: Applets and Event Handling <a href="https://www.javatpoint.com/Event-Handling-in-applet" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>OE513 (Digital Marketing and E-Commerce)</h2>
      <div>Unit 1: History, Nature and Impact of E-Commerce <a href="https://en.wikipedia.org/wiki/E-commerce" target="_blank">view notes</a></div>
      <div>Unit 2: E-Commerce Essentials <a href="https://designli.co/blog/7-essentials-for-e-commerce-success/" target="_blank">view notes</a></div>
      <div>Unit 3: Marketing management <a href="https://en.wikipedia.org/wiki/Marketing_management" target="_blank">view notes</a></div>
      <div>Unit 4: Business Structures and the Business Plan in E-Commerce <a href="https://www.upwork.com/resources/e-commerce-business-plan#:~:text=A%20typical%20business%20plan%20for,limited%20liability%20company%2C%20or%20corporation)" target="_blank">view notes</a></div>
      <div>Unit 5: Marketing Entrepreneurship <a href="https://peepstrategy.com/what-is-entrepreneurial-marketing/#:~:text=A%20marketing%20entrepreneur%20is%20an,management%2C%20which%20can%20create%20value." target="_blank">view notes</a></div>
    </div>
  </div>
  {% endblock %}
</body>
</html>
