
  {% extends 'layout.html' %}
  {% block header %}
  <h2 id="semh">Semester 3</h2>
  <div class="subjects">
    <div class="subject">
      <h2>Introduction to Object Oriented Programming</h2>
      <div>Unit 1: Principles of Object Oriented Programming (OOP) <a href="https://www.geeksforgeeks.org/data-structures/?ref=shm" target="_blank">view notes</a> </div>
      <div>Unit 2: Characteristics of OOP languages <a href="https://www.geeksforgeeks.org/object-oriented-programming-in-cpp/" target="_blank">view notes</a></div>
      <div>Unit 3: Introduction to C++ <a href="https://www.w3schools.com/cpp/cpp_intro.asp" target="_blank">view notes</a></div>
      <div>Unit 4: Functions in C++ <a href="https://www.geeksforgeeks.org/functions-in-cpp/" target="_blank">view notes</a> </div>
      <div>Unit 5: Inheritance <a href="https://www.geeksforgeeks.org/inheritance-in-c/" target="_blank">view notes</a> </div>
    </div>
    <div class="subject">
      <h2>Introduction to Database Management System</h2>
      <div>Unit 1: Introduction & Database System Architecture <a href="https://www.geeksforgeeks.org/dbms-architecture-2-level-3-level/" target="_blank">view notes</a> </div>
      <div>Unit 2: E-R Modeling <a href="https://www.javatpoint.com/dbms-er-model-concept" target="_blank">view notes</a> </div>
      <div>Unit 3: Relational Data Model <a href="https://www.geeksforgeeks.org/relational-model-in-dbms/" target="_blank">view notes</a> </div>
      <div>Unit 4: Transaction Processing Concepts <a href="https://www.javatpoint.com/dbms-transaction-processing-concept" target="_blank">view notes</a></div>
      <div>Unit 5: Data Normalization <a href="https://www.geeksforgeeks.org/data-normalization-in-data-mining/" target="_blank">view notes</a> </div>
    </div>
    <div class="subject">
      <h2>Discrete Structures</h2>
      <div>Unit 1: Introduction to prepositional calculus <a href="https://www.geeksforgeeks.org/proposition-logic/" target="_blank">view notes</a> </div>
      <div>Unit 2: Sets and related operations <a href="https://www.tutorialspoint.com/set-operations" target="_blank">view notes</a> </div>
      <div>Unit 3: Relations and their properties <a href="https://www.geeksforgeeks.org/relations-and-their-types/" target="_blank">view notes</a> </div>
      <div>Unit 4: Functions and its properties <a href="https://www.tutorialspoint.com/discrete_mathematics/discrete_mathematics_functions.htm#:~:text=A%20function%20or%20mapping%20(Defined,x%2Cy)%E2%88%88R." target="_blank">view notes</a> </div>
      <div>Unit 5: Introduction to recurrence relation <a href="https://www.tutorialspoint.com/discrete_mathematics/discrete_mathematics_recurrence_relation.htm" target="_blank">view notes</a></div>
    </div>
    <div class="subject">
      <h2>PE311 INTRODUCTION TO WIRELESS COMMUNICATION</h2>
      <div>Unit 1: Introduction to Basic Principles <a href="https://www.tutorialspoint.com/wireless_communication/wireless_communication_overview.htm" target="_blank">view notes</a></div>
      <div>Unit 2: Cellular Concept <a href="https://www.tutorialspoint.com/umts/umts_cellular_concepts_introduction.htm#:~:text=In%20a%20cellular%20network%2C%20total,a%20number%20of%20RF%20channels." target="_blank">view notes</a> </div>
      <div>Unit 3: Mobile radio propagation <a href="https://www.daenotes.com/electronics/communication-system/mobile-radio-propagation#:~:text=Mobile%20Radio%20Propagation%20%3A%20Basics&text=At%20HF%20bands%2C%20the%20ground,Waves%20follow%20more%20direct%20paths" target="_blank">view notes</a> </div>
      <div>Unit 4: Second Generation and Third Generation Wireless Networks and Standards <a href="https://www.informit.com/articles/article.aspx?p=27374&seqNum=3" target="_blank">view notes</a> </div>
      <div>Unit 5: Internet Introducing the Mobile <a href="#" target="_blank">view notes</a> </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>
